.container{
  width:80%;
  margin: 0 auto;
}

.box{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.prime-text{
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.alt-text{
  color: rgb(59, 59, 59);
  font-size: 12px;
}

.flex-h{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}